<head>
    <link rel="stylesheet" type="text/css" href="public/css/style.css">
    <script src="https://kit.fontawesome.com/f25d8c8b5a.js" crossorigin="anonymous"></script>
</head>

<body class="bckg">
    <h1 class="text">Dashboard</h1>
    <p class="stext">Welcome <%= user.first_name %></p>
    
    <a class="astext" href="game.ejs">Start Game</a>

    <a  class="astext" href="/users/logout">Logout</a>
    
    <h1 class="text">ScoreBoard</h1>
    <p class="stext">Users with the best time</p>
</body>