@import './partials/body', './partials/footer', './partials/nav','./partials/reset';

@font-face {
    font-family: 'lucky';
    src: url(../fonts/LuckiestGuy-Regular.ttf);
}

* {
    margin: 1rem;
    padding: 1rem;
    font-family: "lucky";
    color: #3d3d3ddd;
}

.bckg {
    background: rgb(42, 157, 78);
    background: linear-gradient(#fff, rgba(42, 157, 78, 1) 46%);
}

.navlogo {
    position: relative;
    top: 15rem;
    left: 63rem;
    width: 41rem;
    height: 23rem;
}

.text {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 3.5rem;
    width: 85rem;
    height: 25rem;
    position: relative;
    top: 28.25rem;
    left: 42rem;
    color: #3d3d3ddd;
}

.stext {
    text-align: center;
    font-size: 2.5rem;
    width: 40rem;
    height: 25rem;
    position: relative;
    top: 56rem;
    left: 39rem;
    margin-top: -15rem;
}

.astext {
    text-align: center;
    font-size: 18px;
    position: relative;
    top: -10rem;
    left: 32rem;
    margin-top: -15rem;
}